<html xmlns:th="https://www.thymeleaf.org">
<body>
<h2>Owner</h2>
<form th:object="${item}" th:method="POST">
    <fieldset>
        <input type="hidden" th:field="*{id}" th:value="*{getId()}" />
        <b th:text="Name"></b>
        <input type="text" th:field="*{name}" th:value="*{getName()}" />
        <p></p>
        <b th:text="Country"></b>
        <input type="text" th:field="*{country}" th:value="*{getCountry()}" />

        <input type="submit" value="Edit" />
    </fieldset>
</form>
</body>
</html>
